#home {
  min-width: fit-content;
  height: 100vh;
  position: relative;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Fog container  */
.fog-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -5;
  background-color: var(--color-bg);
}

.fog-img {
  position: absolute;
  height: 100vh;
  width: 300vw;
  z-index: 2;
}

.fog-img-1 {
  background: url("../../assets/fog-1.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee 90s linear infinite;
}
.fog-img-2 {
  background: url("../../assets/fog-2.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  animation: marquee2 120s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes marquee2 {
  0% {
    transform: translate3d(0vw, 0, 0);
  }
  100% {
    transform: translate3d(-200vw, 0, 0);
  }
}

/* ---------Home Top ------------- */
.home-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.home-top > div {
  width: 400px;
  text-wrap: nowrap;
  overflow: hidden;
  position: relative;
}

.home-top > div > p {
  position: relative;
  width: fit-content;
  animation: transformX 20s infinite linear;
}
.home-top > div span {
  margin-left: 30px;
}

@keyframes transformX {
  0% {
    transform: translateX(-68.36%);
  }
  50% {
    transform: translateX(-34.18%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* ---------Details--------- */
.home-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title > p {
  font-size: 32px;
  text-align: center;
  letter-spacing: 1px;
}

.home-title > h1 {
  width: 620px;
  text-align: center;
  line-height: 120px;
  letter-spacing: 2px;
  font-size: 96px;
  text-transform: uppercase;
  margin: 10px 0px;
  letter-spacing: 10px;
}
.home-title > h1:nth-child(2) {
  border-top: 2px solid white;
}
.home-title > h1:nth-child(3) {
  border-bottom: 2px solid white;
}

.cta {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Scroll Down  */
.scroll-down {
  position: absolute;
  right: 3rem;
  bottom: 20px;
  font-size: 0.9rem;
  font-weight: 500;
  word-spacing: 12px;
  letter-spacing: 4px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ========= Media Queries (Medium Devices) ==========*/
@media screen and (max-width: 1024px) {
  .home-title > h1 {
    width: 560px;
    line-height: 90px;
    font-size: 84px;
  }
}

/* ========= Media Queries (Semi Medium Devices) ==========*/
@media screen and (max-width: 880px) {
  .home-title > h1 {
    width: 500px;
    line-height: 85px;
    font-size: 72px;
  }
  .home-top > div {
    width: 300px;
  }
}

/* ========= Media Queries (Small Devices) ==========*/
@media screen and (max-width: 600px) {
  #home {
    width: 100vw;
    margin-left: 0px;
  }
  .fog-img-1 {
    animation: marquee 60s linear infinite;
  }
  .fog-img-2 {
    animation: marquee2 90s linear infinite;
  }
  .home-top > div {
    width: 200px;
  }

  /* Title */
  .home-title > p {
    font-size: 20px;
  }

  .home-title > h1 {
    overflow: hidden;
    width: 420px;
    line-height: 65px;
    font-size: 54px;
  }
}
