#projects {
  min-width: fit-content;
  max-width: fit-content;
  display: flex;
  align-items: center;
  background-color: white;
  overflow: hidden;
}
/* ---------Heading----------- */
#projects .heading {
  height: 100vh;
  width: 130px;
  color: var(--color-primary);
  text-wrap: nowrap;
  overflow: hidden;
  border-right: 1px solid rgb(209, 209, 209);
}
#projects .heading > div {
  width: 130px;
  animation: animateY 5s linear infinite;
}
#projects .heading h1 {
  transform: rotate(-90deg);
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  display: block;
  margin-top: 280px;
}

@keyframes animateY {
  0% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(-9.4%);
  }
}

/* ---------------Projects-------------- */
.projects-container {
  display: flex;
  padding: 0px 50px;
  align-items: center;
  gap: 60px;
}

.projects-item {
  display: flex;
  flex-direction: column;
  height: fit-content;
  transition: var(--transition);
}

.projects-item-image {
  width: 480px;
  height: 280px;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid var(--color-bg-variant);
  overflow: hidden;
}
.projects-item-image > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: var(--transition);
}
.projects-item-image:hover img {
  transform: scale(1.2);
}

.projects-item:nth-child(2n) {
  flex-direction: column-reverse;
}

.projects-item > div {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  margin: 5px 0px;
}

.projects-item h3 {
  font-size: 32px;
  color: var(--color-bg-variant);
}

.projects-item a {
  font-weight: 600;
  font-size: 20px;
  -webkit-text-stroke: 0.3px var(--color-bg);
  display: flex;
  align-items: center;
  gap: 10px;
}
.projects-item a .icon {
  font-size: 30px;
}
.projects-item a:hover {
  color: var(--color-bg);
}
/* ------------More Btn---------- */
#projects > .circle {
  height: 200px;
  width: 200px;
  margin: 0px 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

#projects > .circle > .layer {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: 0.4s all ease-in-out;
}

#projects > .circle > p {
  z-index: 2;
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  -webkit-text-stroke: 0.6px var(--color-bg);
}

.circle > .round-text {
  transition: 0.4s all ease;
  position: absolute;
  animation: rotateText 20s infinite linear;
  z-index: 2;
  width: 100px;
  height: 100px;
}
.circle > .round-text > span {
  position: absolute;
  left: 50%;
  top: -40px;
  font-weight: 600;
  z-index: 2;
  transform-origin: 0 90px;
}

#projects > .circle:hover > .layer {
  height: 200px;
  width: 200px;
}

.circle:hover > .round-text {
  color: white;
}

.circle:active {
  transform: scale(0.8);
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ========= Media Queries (Medium Devices) ==========*/
@media screen and (max-width: 1024px) {
  .projects-item-image {
    width: 380px;
    height: 220px;
  }

  .projects-item h3 {
    font-size: 24px;
  }
}

/* ========= Media Queries (Semi Medium Devices) ==========*/
@media screen and (max-width: 880px) {
  /* Heading */
  #projects .heading {
    width: 100px;
  }
  #projects .heading > div {
    width: 100px;
  }
  #projects .heading h1 {
    font-size: 64px;
  }

  /* Projects */
  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 60px;
  }

  .projects-item-image {
    width: 360px;
    height: 200px;
  }

  .projects-item h3 {
    font-size: 24px;
  }

  .projects-item a {
    font-size: 18px;
  }
}

/* ========= Media Queries (Small Devices) ==========*/
@media screen and (max-width: 700px) {
  #projects {
    width: 100vw;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 190vh;
    height: fit-content;
    flex-direction: column;
  }

  #projects .heading {
    height: 80px;
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgb(209, 209, 209);
  }
  #projects .heading > div {
    height: 80px;
    width: 100%;
    animation: animateX 3s linear infinite;
    display: flex;
    gap: 50px;
  }
  #projects .heading h1 {
    font-size: 54px;
    transform: rotate(0deg);
    margin-top: 0px;
  }

  @keyframes animateX {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-65%);
    }
  }

  /* ---------------Projects-------------- */
  .projects-container {
    padding: 50px 0px;
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .projects-item-image {
    width: 300px;
    height: 160px;
  }

  .projects-item:nth-child(2n) {
    flex-direction: column;
  }

  .projects-item h3 {
    font-size: 22px;
  }
  #projects > .circle {
    margin: 0px;
    margin-top: -50px;
    transform: scale(0.8);
  }
}
