@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Playwrite+AR:wght@100..400&display=swap");

#about {
  width: 100%;
  height: 100%;

  border-left: 1px solid #333;
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  z-index: 1000;
}

/*-------------- Heading ------------*/
#about > h1 {
  font-size: 76px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#about > h1 > span {
  font-family: "Lobster", sans-serif;
  font-weight: 200;
  color: transparent;
  -webkit-text-stroke: 2px var(--color-primary);
}

/* ----------------Image -------------*/
.about-container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  gap: 40px;
}

.profile-image-container {
  max-width: 400px;
  max-height: 400px;
  border-radius: 40px;
  position: relative;
  grid-row-start: 1;
  grid-row-end: 4;
  animation: float 2s linear infinite;
}

.profile-image-container:hover {
  animation: none;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s ease;
  border-radius: 40px;
}
.hover-point {
  position: absolute;
  z-index: 2;
  width: calc(100% / 5);
  height: calc(100% / 5);
}

/* ------ Text ----------*/

.about-details-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  grid-row-start: 1;
  grid-row-end: 2;
}
.about-details-top > div {
  font-weight: 600;
  font-size: 20px;
  color: var(--color-primary);
}

.about-details-top span {
  color: rgb(255, 117, 117);
}

.about-details-top a {
  margin: 10px 30px 0 0;
}

.about-text {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ========= Media Queries (Medium Devices) ==========*/
@media screen and (max-width: 1024px) {
  #about {
    gap: 20px;
  }
  /*-------------- Heading ------------*/
  #about > h1 {
    font-size: 64px;
  }

  /* ---------- About Container ------- */
  .about-container {
    gap: 30px;
    width: 95%;
    grid-template-columns: 50% 50%;
  }
  .profile-image-container {
    min-width: 300px;
  }
  .about-details-top > div {
    font-weight: 500;
    font-size: 18px;
  }
  /* ------ Text ----------*/
  .about-text {
    gap: 15px;
    font-size: 14px;
  }
}
/* ========= Media Queries (Semi Medium Devices) ==========*/
@media screen and (max-width: 880px) {
  #about {
    gap: 15px;
    padding: 40px 20px;
  }
  /*-------------- Heading ------------*/
  #about > h1 {
    font-size: 52px;
  }
  /* ---------- About Container ------- */
  .about-container {
    width: 90%;
    height: 90%;
    gap: 15px 40px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 60% 40%;
  }
  .profile-image-container {
    min-width: 200px;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .about-details-top {
    flex-direction: column;
    justify-content: flex-start;
  }
  .about-details-top a {
    margin-right: 0;
  }

  /* ------ Text ----------*/
  .about-text {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

/* ========= Media Queries (Small Devices) ==========*/
@media screen and (max-width: 700px) {
  #about {
    width: 100vw;
    left: 0px;
    position: static;
    gap: 20px;
  }
  /*-------------- Heading ------------*/
  #about > h1 {
    font-size: 36px;
  }
  .about-container {
    width: 80%;
    height: 80%;
    gap: 10px 20px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 60% 40%;
  }
  .profile-image-container {
    min-width: 180px;
    min-height: 180px;
    max-height: 220px;
  }
  /* ------ Text ----------*/
  .about-text {
    font-size: 13px;
  }
}
