#nav {
  width: 70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  background-color: #111;
  position: fixed;
  z-index: 1000;
}

/*------ Toggle NavMenu Icon -------*/
.toggle-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 35px;
  width: 40px;
  gap: 12px;
  cursor: pointer;
}

.toggle-icon > div {
  background-color: var(--color-primary);
  transition: 0.3s all ease-in;
  position: relative;
}

.toggle-icon > .bar1 {
  width: 40px;
  height: 2px;
}
.toggle-icon > .bar2 {
  width: 30px;
  height: 1px;
}

.bar1.close {
  top: 7px;
  transform: rotate(45deg);
}
.bar2.close {
  height: 2px;
  width: 40px;
  top: -7px;
  transform: rotate(-45deg);
}

.toggle-icon:hover div {
  background-color: #fff;
}

/* --------Nav Logo-------- */
.logo {
  cursor: pointer;
  background-color: var(--color-bg);
  border: 2px solid var(--color-primary);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}

.logo > img {
  width: 100%;
  height: 100%;
}

/*-----------Socials---------- */
.header-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

@media screen and (max-width: 600px) {
  #nav {
    display: none;
  }
}
