* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  /* cursor: none !important; */
}

/* Variables */
:root {
  --color-bg: #222;
  --color-bg-variant: #353131;
  --color-primary: #4dffb2;
  /* --color-primary: #4dffc4; */
  --color-primary-variant: #34a473;
  --color-white: #fff;
  --color-light: rgb(230, 230, 230);
  --transition: 400ms all ease;
}

body {
  color: var(--color-white);
  line-height: 1.7;
  background-color: black;
  max-height: fit-content;
  max-width: fit-content;
}
body::-webkit-scrollbar {
  display: none;
}
/* Horizontal Scrolling */
#root {
  height: 100vh;
  width: 100vw;
  background-color: #34a473;
}

#sticky {
  position: sticky;
  top: 0px;
  left: 0px;
  overflow: hidden;
  height: 100vh;
}

#scroll-body {
  display: flex;
  min-width: fit-content;
  height: 100%;
  will-change: transform;
  overflow: hidden;
  margin-left: 70px;
  background-color: red;
}

/* Nav About Section */
#about-normal-view {
  position: fixed;
  left: 70px;
  top: -100vh;
  width: calc(100vw - 70px);
  height: 100vh;
  transition: all 0.6s ease-in-out;
  overscroll-behavior: none;
  overflow: hidden;
  z-index: 100;
  background: #111;
}

#about-normal-view.slide {
  top: 0;
}

/* Mobile About */
#about-mobile-view {
  width: 100vw;
  height: 100vh;
  display: none;
  background: #222;
}

/* Mouse Trailer */
#trailer {
  width: 30px;
  height: 30px;
  border: 3px solid #37b07a;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  pointer-events: none;
  opacity: 0;
  transition: opacity 200ms ease;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

@media screen and (max-width: 700px) {
  #root {
    overflow: visible;
  }

  main {
    overflow: visible;
  }
  #sticky {
    height: 100%;
    position: static;
    overflow: visible;
  }

  #scroll-body {
    max-width: 100vw;
    width: 100vw;
    height: 100%;
    overflow: hidden;
    flex-direction: column;
    margin-left: 0px;
  }
  #about-normal-view {
    display: none;
  }
  #about-mobile-view {
    display: block;
  }
}
